@import "dictionaries.css";

.editor h1 { font-size: 1.3em; }

.error { color: #600; background: #fee; border: solid 1px #600; text-align: center;}
.error em { color: #666; display: block; }

label input, label textarea { display: block; width: 100%; font-family: monospace; font-size: 1em; }
textarea { height: 80%; overflow: auto; white-space: nowrap; }
.prompt { color: #ddd; }
